CREATE TABLE saved_cars ( id uuid default uuid_generate_v4() primary key, car_no text not null, car_type text not null, created_at timestamp with time zone default now() ); ALTER TABLE saved_cars ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Allow
all\ ON saved_cars FOR ALL USING (true) WITH CHECK (true);
